body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 80px;
}

.app {
  width: 100%;
  height: 800px;
}

.container {
  width: 800px;
  height: 700px;
  position: relative;
  border: 3px solid green;
}

.center {
  height: 600px;
  display: flex;
}

.footer {
  padding-top: 20px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

span.note {
  padding-left: 150px;
}



