body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding-top: 200px;
}

.container {
  width: 800px;
  height: 600px;
  position: relative;
  border: 3px solid green;
}

.center {
  padding-left: 50%;
  padding-top: 200px;
}

.footer {
  padding-left: 50%;
  padding-top: 20px;
}